<div class="container">
  <div class="row">
    <div class="col">
      <h1>
        Business Components in Angular
      </h1>
    </div>
  </div>
  <div class="row">
      <div class="col">
        <a routerLink="/creditcard"
           class="btn btn-primary">
          Credit Card Entry
        </a>
        <a routerLink="/address"
           class="btn btn-primary">
          Address Data Entry
        </a>
      </div>
    </div>
  <!-- BEGIN PARTIAL VIEWS AREA (outlet) -->
  <router-outlet></router-outlet>
</div>
